body{
    background-color: white;
    margin: 0px;
    
    display: flow-root;
}
.navbar{
    
    display: flex;
    justify-content: flex-end;
  
}

.navbar ul{
   background-color: grey;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    margin-right: 0px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-end;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover{
    background-color:rgb(16, 16, 16);
    font-weight: bold;
}
.navbar li{
    float: left;
    
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: beige;
    color: lightgreen;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
   
    
}
.dropdown .fruit1{
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 110px;
    box-shadow: 3px 3px 5px black;
}
.dropdown:hover .fruit1{
    display: block;
}
.dropdown:hover button{
    background-color: aliceblue;
}
.dropdown a:hover{
    background-color: azure;
}
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 10px 20px ;
    display: inline-block;
    background-color: azure;
}
.pagination a.active{
    font-weight: bold;
    background-color: green;
}
.pagination a:hover:not(.active){
    background-color: grey;
}
h1::first-letter{
    font-size: 3em;
    font-style: italic;
}
p::first-line{
    background-color:rgb(126, 164, 197);
}
p::selection{
    background-color: aqua;
}
.pseudo li::marker{
    content: "✅";
    font-size: 1.5em;
    color: lightgreen;
}
#pseudo1::after{
    content: "🍎(❁´◡`❁)";
}
#pseudo2:link{
    color: green;
}
#pseudo2:hover{
    color: red;
    font-size: 1.5em;
}
#pseudo2:active{
    color: grey;
    font-size: 2em;
}
#pseudo2:visited{
    color: rgb(82, 172, 91);
}

#pseudo1:nth-child(odd){
    background-color: yellow;
}
#combinator{
    border: 4px solid;
    background-color: aliceblue;
}
#combinator p{
    background-color: yellowgreen;
}
.background1{
    background-image: url(image/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
#boxbox1{
    
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: static;
   
   
  
}
#boxbox2{
    width: 100px;
    height: 50px;
    background-color: bisque;
    position: relative;
   
    left: 50px;
    text-align: center;
    
}
#boxbox3{
    width: 150px;
    height: 75px;
    background-color: yellow;
    position: relative;
    margin-left: 25px;
   text-align: center;

}
.container{
    background-color: grey;
    border: 2px solid;
    height: 80vh;
    
}
.box1{
    background-color: white;
    border: 3px solid;
   height: auto;
   width: 50%;
   padding: 25px;
   box-sizing: border-box;
   text-align:center;
   float: left;
   min-height: 70%;
   
}
#property1{
    background-color:lightcoral;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}
#property2{
    background-color:rgb(59, 67, 21);
    width: 100px;
    height: 100px;
    display: inline-block;
}
#overflow1{
    border: 2px solid;
    height: 40px;
   overflow: auto;
}
#img1{
    height: 180px;
    float: right;
    margin-right: 10px;
    margin-left: 10px;

}
#doraemon{
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.box{
    font-size: 2.5em;
    border: 6px solid green;
    width: 100px;
    height: 100px;
    background-color: grey;
    box-shadow: 5px 5px 10px purple, -5px -5px 10px blue;
    
}
#box1{
    background-color:aqua;
    margin:auto;
}
#box2{
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    border: 5px ridge black;
    border-width:10px;
    border-radius: 10px;
    text-shadow: 3px 3px 5px red, -3px -3px 6px blue;
}
#h1float{
    float: left;
    margin-right: 20px;
}
#p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: green;
}
.two{
    color:brown;
    border-top: 4px solid yellow;
    border-left: 10px solid green;
    border-right: 10px ridge black;
    border-bottom: 4px ridge red;
}